{% extends 'dealership/base.html' %}
{% block title %}Delete Customer - Car Dealership{% endblock %}
{% block content %}
<h1 class="mb-4">Customer Details: <strong>{{ customer.first_name }} {{ customer.last_name }}</strong></h1>
    <h1>{{ customer.name }}</h1>
    <p><strong>Email: </strong> {{ customer.email }}</p>
    <p><strong>Phone: </strong> {{ customer.phone_number }}</p>
    <p><strong>Address: </strong>{{ customer.address }}</p>
    <p><strong>Date of Birth: </strong>{{ customer.date_of_birth }}</p>
    
</html>

{% endblock %}